
.str{
    width:100vw;
    height:100vh;
    background-image: url(image/e4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
 }
 .str .names1 a{
    margin-top:60vh;
    margin-left:1vw;
    border-radius: 2vw;
    font-size: 40px;
    background:rgba(0,0,0,0.3);
    color: chartreuse;
 }
 .str .names2 a{
     margin-top:-90px;
    margin-left:16vw;
    border-radius: 2vw;
    font-size: 40px;
    background:rgba(0,0,0,0.3);
    color: aqua;
 }
 .str .names3 a{
    margin-top:-130px;
   margin-left:31vw;
   border-radius: 2vw;
   font-size: 40px;
   background:rgba(0,0,0,0.3);
   color: black;
}
.str .names4 a{
    margin-top:-170px;
   margin-left:46vw;
   border-radius: 2vw;
   font-size: 40px;
   background:rgba(0,0,0,0.3);
   color:orangered;
}
.str .names5 a{
    margin-top:-210px;
   margin-left:65vw;
   border-radius: 2vw;
   font-size: 40px;
   background:rgba(0,0,0,0.3);
   color: brown;
}
.str .names6 a{
    margin-top:-250px;
   margin-left:82vw;
   border-radius: 2vw;
   font-size: 40px;
   background:rgba(0,0,0,0.3);
   color: darkorange;
}
.str .names7 a{
    margin-top:-50px;
   margin-left:10vw;
   border-radius: 2vw;
   font-size: 40px;
   background:rgba(0,0,0,0.3);
   color: deeppink;
}
.str .names8 a{
    margin-top:-140px;
   margin-left:30vw;
   border-radius: 2vw;
   font-size: 40px;
   background:rgba(0,0,0,0.3);
   color: dodgerblue;
}
.str .names9 a{
    margin-top:-170px;
   margin-left:50vw;
   border-radius: 2vw;
   font-size: 40px;
   background:rgba(0,0,0,0.3);
   color: gold;
}
.str .names10 a{
    margin-top:-220px;
   margin-left:70vw;
   border-radius: 2vw;
   font-size: 40px;
   background:rgba(0,0,0,0.3);
}
 .events  a {
     position: absolute;
     font-size: 9vw;
     margin-left:50vw;
     margin-right:25vw;
     margin-top:30vh;
     width:50vw;
     text-align:center;
     height:25vh;
     border-radius: 8vw;
     transform: translate(-50%,-30%);
     font-family: 'Mali', cursive;
     text-decoration: none !important; 
     color:black;
     text-transform:uppercase;
     overflow: hidden;
 }
 a:hover{
     color:#fff;
     box-shadow:-15px 0 50px rgba(255,20,152,1),15px 0 50px rgba(122,0,255,1);
     text-shadow:0 0 10px rgba(255,2255,255),0 0 25px rgba(255,2255,255),0 0 35px rgba(255,2255,255);
 }
 a:before{
     content:'';
     position: absolute;
     top:0;
     left:0;
     width: 10vw;
     height:24vh;
     border-radius:70%;
     background:rgba(255,20,152,0);
     filter:blur(8px);
     transition:5s;
     z-index:-1;
 }
 a:hover:before{
     background:rgba(255,20,152,1);
     transform: scaleX(7);
  
 }
 a:after{
     content:'';
     position: absolute;
     top:0;
     right:0;
     width: 10vw;
     height:24vh;
     border-radius:70%;
     background:rgba(122,0,255,0);
     filter:blur(8px);
     transition:5s;
     z-index:-1;
     mix-blend-mode: lighten;
 }
 a:hover:after{
     background:rgba(122,0,255,1);
     transform: scaleX(7);
  
 }





.event1{
    width:100vw;
    height:100vh;
    background-image: url(image/neb\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
}
.event1 .heading1{
    position: relative;
    margin-left:35vw;
    top:10%;
    font-size:150px;
    color:white
}

.content1{
    width:60vw;
    height:70vh;
    margin-left:20vw;
    margin-right:5vw;
    margin-top:20vh;
    box-shadow: rgba(255,0,0,0.6);
    
}
.event1 .content1 section{
    font-size:40px;
    padding:20px;
    color:whitesmoke;
    
}

.event2{
   
    width:100vw;
    height:100vh;
    background-image: url(image/ind\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
}
.event2 .heading2{
    position: relative;
    margin-left:22vw;
    top:10%;
    font-size:150px;
    color: WHITE
}
.content2{
    width:60vw;
    height:70vh;
    margin-left:20vw;
    margin-right:5vw;
    margin-top:20vh;
    box-shadow: rgba(255,0,0,0.6);
}
.event2 .content2 section{
    font-size:40px;
    padding:20px;
    color:whitesmoke;
}
.event3{
    
    width:100vw;
    height:100vh;
    background-image: url(image/e3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.event3 .heading3{
    position: relative;
    margin-left:15vw;
    top:10%;
    font-size:150px;
    color:white;
    
}
.content3{
    width:60vw;
    height:70vh;
    margin-left:15vw;
    margin-right:5vw;
    margin-top:25vh;
}
.event3 .content3 section{
    font-size:40px;
    padding:20px;
    color:whitesmoke;
    
}
.event4{
   
    width:100vw;
    height:100vh;
    background-image: url(image/reverb\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.event4 .heading4{
   position: relative;
    margin-left:15vw;
    top:10%;
    font-size:150px;
    color: white;
}
.content4{
    width:90vw;
    height:70vh;
    margin-left:5vw;
    margin-right:5vw;
    margin-top:12vh;
}
.event4 .content4 section{
    font-size:30px;
    padding:20px;
    color:whitesmoke;
    
}
.event5{
    width:100vw;
    height:100vh;
    background-image: url(image/e1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.event5 .heading5{
    position: relative;
    margin-left:15vw;
    top:10%;
    font-size:100px;
    color: white;
}
.content5{
    width:60vw;
    height:70vh;
    margin-left:20vw;
    margin-right:5vw;
    margin-top:17vh;
}
.event5 .content5 section{
    font-size:30px;
    padding:20px;
    color:whitesmoke;
   
}
.event6{
    width:100vw;
    height:100vh;
    background-image: url(image/natyaragam1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.event6 .heading6{
    position: relative;
    margin-left:15vw;
    top:10%;
    font-size:150px;
    color: white;
}
.content6{
    width:80vw;
    height:70vh;
    margin-left:10vw;
    margin-right:5vw;
    margin-top:15vh;
}
.event6 .content6 section{
    font-size:30px;
    padding:20px;
    color:whitesmoke;
   
}
.event7{
    width:100vw;
    height:100vh;
    background-image: url(image/rep\ 2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.event7 .heading7{
    position: relative;
    top:10%;
    font-size:100px;
    color: white;
    text-align: center;
}
.content7{
    width:80vw;
    height:70vh;
    margin-left:10vw;
    margin-right:5vw;
    margin-top:30vh;
}
.event7 .content7 section{
    font-size:30px;
    padding:20px;
    color:whitesmoke;
}
.event8{
    width:100vw;
    height:100vh;
    background-image: url(image/e3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.event8 .heading8{
    position: relative;
    
    top:10%;
    font-size:100px;
    color:white;
    text-align:center;
}
.content8{
    width:70vw;
    height:70vh;
    margin-left:15vw;
    margin-right:5vw;
    margin-top:30vh;
}
.event8 .content8 section{
    font-size:40px;
    padding:20px;
    color:whitesmoke;
}
.event9{
    width:100vw;
    height:100vh;
    background-image: url(image/e2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.event9 .heading9{
    position: relative;
    
    top:10%;
    font-size:100px;
    color: white;
    text-align:center;
}
.content9{
    width:70vw;
    height:70vh;
    margin-left:15vw;
    margin-right:5vw;
    margin-top:20vh;
}
.event9 .content9 section{
    font-size:30px;
    padding:20px;
    color:whitesmoke;
   
}
.event10{
    width:100vw;
    height:100vh;
    background-image: url(image/fantasia.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.event10 .heading10{
    position: relative;
    top:10%;
    font-size:100px;
    color: white;
    text-align: center;
}
.content10{
    width:70vw;
    height:70vh;
    margin-left:15vw;
    margin-right:5vw;
    margin-top:20vh;
}
.event10 .content10 section{
    font-size:50px;
    padding:20px;
    color:whitesmoke;
}
.gallery{
    width:100vw;
    margin-left:9vw;
    height:100vh;
    padding-left:10vw;
    background: #fff;
    margin:70px auto 0;
    display:flex;
    flex-wrap: wrap;
}
.gallery .box{
    position: relative;
    width:500px;
    height:400px;
    background: #ff0;
    margin:10px;
    box-sizing:border-box;
    display:inline-block;
}
.gallery .box .imgbox{
   position: relative;
   overflow: hidden;
}
.gallery .box .imgbox img{
    max-width:100%;
    transition: transform 2s;
}
.gallery .box:hover .imgbox img{
    transform: scale(1.2);
}
.gallery .box .details{
position: absolute;
top:10px;
left: 10px;
bottom: 10px;
right:10px;
background:rgba(0,0,0,0.8);
transform: scaleY(0);
transition: transform .5s;
}
.gallery .box:hover .details{
    transform: scaleY(1);
}
.gallery .box .details .content{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    text-align: center;
    padding:15px;
    color:#fff;
}
.gallery .box .details .content h2{
    margin:0;
    padding-left:100px;
    font-size:40px;
    color: #ff0;
}
#gal{
    border-radius: 7vh;
    width:14vw;
    height: 7vh;
    font-size:50px;
    margin-left:40vw;
  background-color:red;
}