body{
    margin:0;
    padding:0;
    background-image: url('images/14.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.event{
    width:80vw;
    height:60vh;
    background: #00041d;
    margin-left:10vw;
    background-attachment: fixed;
}
a{
    position: absolute;
    top:15%;
    left:49%;
    transform: translate(-49%,-15%);
    width:160px;
    height:40px;
    background:#00072f;
    text-align: center;
    line-height:40px;
    border-radius:80px;
    color:#555;
    text-transform: uppercase;
    text-decoration:none;
    font-family: sans-serif;
    letter-spacing: 6px;
    
    overflow:hidden;
}
a:hover{
    color:#fff;
    box-shadow: -15px 0 500px rgba(255,20,152,1), 15px 0 500px rgba(122,0,255,1);
    text-shadow:0 0 10px rgba(255,255,255,0.50),0 0 25px rgba(255,255,255,0.50),0 0 35px rgba(255,255,255,0.50);
}
a:before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:140px;
    height:180px;
    border-radius:50%;
    background: rgba(255,20,152,0);
    filter:blur(4px);
    transition:5s;
    z-index:-1;
}
a:hover:before{
    background:rgba(255,20,152,1);
    transform:scaleX(13);
}
a:after{
    content:'';
    position: absolute;
    top:0;
    right:0;
    width:120px;
    height:180px;
    border-radius:50%;
    background: rgba(122,0,255,0);
    filter:blur(4px);
    transition:5s;
    z-index:-1;
    mix-blend-mode:lighten;
}
a:hover:after{
    background:rgba(122,0,255,1);
    transform:scaleX(15);
}
.container{
    width:75vw;
    min-height:400px;
    margin:1px auto 0;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left:13vw;
    background-color: blueviolet;
    background-attachment: fixed;
}
.container .text{
    width:47vw;
    height:350px;
    margin-left:5vw;
    padding:8px; 
    margin-top:3vh;
    box-shadow:-10px 25px 50px rgba(0,0,0,.3);
}
.container .text:hover{
    box-shadow:-20px 50px 100px rgba(0,0,0,.9);
} 

.container .box{
    position: relative;
    width:300px;
    height:350px;
    margin:10px;
    box-sizing: border-box;
    display:inline-block;   
    transition:transform 2s;
    background-color: burlywood;
    margin-top:30px;
}
.container .box .imgbox{
    position: relative;
    overflow: hidden;
}
.container .box .imgbox img{
    width:100%;
    height:350px;
    transition:transform 2s;
}

.container .box:hover .imgbox img{
    transform: scale(1.2);
}
.container .box .details{
   position: absolute;
   top:5px;
   left:10px;
   bottom:5px;
   right:10px;
   
   background: rgba(0,0,0,0.8);
   transform: scaleY(0);
   transition: transform .5s;
}
.container .box:hover .details{
    transform: scaleY(1);
}
.container .box .details .content{
    position: absolute;
    left:50%;
    transform: translate(-50%);
    text-align: center;
    
}
.container .box .details .content h2{
    
    font-size:30px;
    color:#ff0;

}
.container .box .details .content p{
    color: beige;
    font-size:25px;
    
    
}

.container1{
    width:75vw;
    min-height:400px;
    margin:1px auto 0;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left:13vw;
    background-color: brown;
    background-attachment: fixed;
    
    
}
.container1 .text{
    width:47vw;
    height:350px;
    margin-left:1vw;
    padding:8px;
    padding:px; 
    margin-top:3vh;

    box-shadow:-20px 50px 100px rgba(0,0,0,.9);
}
.container1 .text:hover{
    box-shadow:-10px 25px 50px rgba(0,0,0,.3);
}
.container1 .bg{
    position: absolute;
    width:100%;
    height:100%;
    z-index:1;
    opacity:0;
    background:#000;
    transition:0.5s;
    pointer-events:none;
    width:100%;
    height:100%;  
}

.container1 .box{
    position: relative;
    width:300px;
    height:350px;
    margin:10px;
    margin-left:7.5vw;
    box-sizing: border-box;
    display:inline-block;   
    transition:transform 2s;
    background-color: burlywood;
    margin-top:30px;
}

.container1 .box .imgbox{
    position: relative;
    overflow: hidden;
}
.container1 .box .imgbox img{
    width:100%;
    height:350px;
    transition:transform 2s;
}

.container1 .box:hover .imgbox img{
    transform: scale(1.2);
}
.container1 .box .details{
   position: absolute;
   top:5px;
   left:10px;
   bottom:5px;
   right:10px;
   
   background: rgba(0,0,0,0.8);
   transform: scaleY(0);
   transition: transform .5s;
}
.container1 .box:hover .details{
    transform: scaleY(1);
}
.container1 .box .details .content{
    position: absolute;
    left:50%;
    transform: translate(-50%);
    text-align: center;
    
}
.container1 .box .details .content h2{
    
    font-size:30px;
    color:#ff0;

}
.container1 .box .details .content p{
    color: beige;
    font-size:25px;
    
    
}

 

