body{
    margin:0;
    padding:0;
 
}
.event{
    width:80vw;
    height:60vh;
    background: #00041d;
    margin-left:10vw;
}
a{
    position: absolute;
    top:15%;
    left:49%;
    transform: translate(-49%,-15%);
    width:160px;
    height:40px;
    background:#00072f;
    text-align: center;
    line-height:40px;
    border-radius:80px;
    color:#555;
    text-transform: uppercase;
    text-decoration:none;
    font-family: sans-serif;
    letter-spacing: 6px;
    
    overflow:hidden;
}
a:hover{
    color:#fff;
    box-shadow: -15px 0 500px rgba(255,20,152,1), 15px 0 500px rgba(122,0,255,1);
    text-shadow:0 0 10px rgba(255,255,255,0.50),0 0 25px rgba(255,255,255,0.50),0 0 35px rgba(255,255,255,0.50);
}
a:before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:140px;
    height:180px;
    border-radius:50%;
    background: rgba(255,20,152,0);
    filter:blur(4px);
    transition:5s;
    z-index:-1;
}
a:hover:before{
    background:rgba(255,20,152,1);
    transform:scaleX(13);
}
a:after{
    content:'';
    position: absolute;
    top:0;
    right:0;
    width:120px;
    height:180px;
    border-radius:50%;
    background: rgba(122,0,255,0);
    filter:blur(4px);
    transition:5s;
    z-index:-1;
    mix-blend-mode:lighten;
}
a:hover:after{
    background:rgba(122,0,255,1);
    transform:scaleX(15);
}
.container{
    width:75vw;
    min-height:400px;
    margin:1px auto 0;
    margin-left:13vw;
    background-color: black;
    
    
}
.container .box{
    position: relative;
    width:300px;
    height:350px;
    margin:10px;
    box-sizing: border-box;
    display:inline-block;   
    transition:transform 2s;
    background-color: burlywood;
    margin-top:30px;
}
.container .box .imgbox{
    position: relative;
    overflow: hidden;
}
.container .box .imgbox img{
    width:100%;
    height:350px;
    transition:transform 2s;
}

.container .box:hover .imgbox img{
    transform: scale(1.2);
}
.container .box .details{
   position: absolute;
   top:10px;
   left:20px;
   bottom:10px;
   right:10px;
   background: rgba(0,0,0,0.8);
   transform: scaleY(0);
   transition: transform .5s;
}
.container .box:hover .details{
    transform: scaleY(1);
}
.container .box .details .content{
    position: absolute;
    left:50%;
    transform: translate(-50%);
    text-align: center;
    
}
.container .box .details .content h2{
    
    font-size:20px;
    color:#ff0;

}
.container .box .details .content p{
    color: beige;
    padding:0;
    
    
}

